@charset "UTF-8";

#flowers {
	fill:#5CA47A;
}
#water {
	fill:#0098DA;
}
#kayak {
	fill:#A8CF45;
	fill-rule:nonzero;
}
#regata {
	fill:#00A859;
	fill-rule:nonzero;
}
#poliska {
	fill:#00A859;
	fill-rule:nonzero;
}

@media only screen and (max-width: 180px) {

	#flowers,
	#water, 
	#kayak, 
	#regata,
	#poliska {
	fill: green;
	}


}
