@charset "UTF-8";
#flower {
	fill:#5CA47A;
}
#water {
	fill:#0098DA;
}
#kayak {
	fill:#A8CF45;
	fill-rule:nonzero;
}
#poliska {
	fill:#00A859;
	fill-rule:nonzero;
}
#regata {
	fill:#00A859;
	fill-rule:nonzero;
}
